{% extends 'base.html' %}

{% block title %}
<head>
    <title>Summary</title>
</head>
{% endblock %}

{% block content %}
<br>
<h1>Student Status</h1>
<hr>
<ul>
    {% for item in student_list %}
        {% if item.student.first_name == request.user.first_name %}
        <span>First Name: </span> <span>{{ request.user.first_name }}</span>
        <br>
        <span>Last Name: </span> <span>{{ request.user.last_name }}</span>
        <br>
        <span>Date of Birth: </span> <span>{{ item.student.date_of_birth }}</span>
        <br>
        <span>Major: </span> <span>{{ item.student.major }}</span>
        <br>
        {% endif %}
    <br>
    {% endfor %}
</ul>
{% endblock %}