<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Student Portal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro&display=swap">
    </style>
  </head>
  <body>
        {% load static %}

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
          <img src="{% static 'logo.png' %}" width="80" height="80">
          <a class="navbar-brand" style="font-size:60px"><strong>STUDENT PORTAL</strong></a>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/summary/">Student <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/college/">Colleges Of <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/program/">Programs <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/course/">Courses <span class="sr-only"></span></a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>


  <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">&copy; 2023 Copyright:
      <p>Website by: Phu Pham</p>
      <p>Contact information: <a href="mailto:ppham1@buffs.wtamu.edu">ppham1@buffs.wtamu.edu</a></p>
    </div>
  </footer>
  </body>
</html>