<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>College Of</title>
</head>
    <body>
        <header>
            <nav>  
                <ul>
                    <li><a href="/">Home</a>
                    <li><a href="http://127.0.0.1:8000/summary/">Student</a>
                    <li><a href="http://127.0.0.1:8000/college/">Colleges Of</a>
                    <li><a href="http://127.0.0.1:8000/program/">Programs</a>
                    <li><a href="http://127.0.0.1:8000/course/">Courses</a>
                    <li><a href="http://127.0.0.1:8000/registers/new">Registration</a>
                    <li><a href="http://127.0.0.1:8000/upload">Upload</a>
                </ul>
            </nav>
        </header>
        <h1>List of Colleges at West Texas A&M University</h1>
        <hr>
        <ul>
            {% for item in faculty_list %}
            <li>
                <span>{{ item.faculty.college_of }}</span>
                <br>
            </li>
            <br>
            {% endfor %}
        </ul>
    </body>
</html>