{% extends 'base.html' %}

{% block title %}
<head>
    <title>Course</title>
</head>
{% endblock %}

{% block content %}
        <br>
        <h1>Courses Available</h1>
        <hr>
        <ul>
            {% for item in course_list %}
            <li>
                <span>Course Number: </span> <span>{{ item.course.course_number }}</span>
                <br>
                <span>Course Name: </span> <span>{{ item.course.course_name }}</span>
                <br>
                <span>Credit Hours: </span> <span>{{ item.course.credit_hours}}</span>
                <br>
                <span>From: </span> <span>{{ item.course.faculty}}</span>
                <br>
            </li>
            <br>
            {% endfor %}
        </ul>
{% endblock %}