{% extends 'base.html' %}

{% block title %}
<head>
    <title>Enrollments</title>
</head>
{% endblock %}

{% block content %}
        <br>
        <h1>Student Enrollments at West Texas A&M University</h1>
        <hr>
        <ul>
            {% for item in ce_list %}
            <li>
                <span>Student Name: </span><span>{{ item.all.student }}</span>
                <br>
                <span>Courses Enrolled: </span>
                <br>
                <span>{{  item.all.course }}</span> <span>{{ item.all.semester }} </span> <span>{{ item.all.year }} </span>
                <br>
            </li>
            <br>
            {% endfor %}
        </ul>
{% endblock %}